In [9]:
from textblob import TextBlob
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

# Load your dataset (replace with your own dataset)
# Assuming the dataset has two columns: 'text' and 'sentiment'
# Sentiments: 'positive', 'negative', 'neutral'
# For simplicity, let's assume we have a list of dictionaries
train_data=pd.read_csv("Downloads/archive/train.csv",encoding='unicode_escape')
train_data['text'] = train_data['text'].astype(str)

train_data

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26
...,...,...,...,...,...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,night,31-45,Ghana,31072940,227540.0,137
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,morning,46-60,Greece,10423054,128900.0,81
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,noon,60-70,Grenada,112523,340.0,331
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,night,70-100,Guatemala,17915568,107160.0,167
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,morning,0-20,Guinea,13132795,246000.0,53

In [10]:
test_data=pd.read_csv("Downloads/archive/test.csv",encoding='unicode_escape')
test_data['text'] = test_data['text'].astype(str)
test_data

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0
...,...,...,...,...,...,...,...,...,...
4810,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4811,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4812,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4813,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
def analyze_sentiment(text):
    blob = TextBlob(text)
    polarity = blob.sentiment.polarity
    
    if polarity > 0:
        return "positive"
    elif polarity < 0:
        return "negative"
    else:
        return "neutral"
# Prepare the predictions and true labels for evaluation
predicted_sentiments = []
true_sentiments = []

for _, row in test_data.iterrows():
    text = row["text"]
    true_sentiment = row["sentiment"]
    
    predicted_sentiment = analyze_sentiment(text)
    
    predicted_sentiments.append(predicted_sentiment)
    true_sentiments.append(true_sentiment)

# Calculate accuracy
accuracy = accuracy_score(true_sentiments, predicted_sentiments)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.43

In [12]:
# Take user input
text_input = input("Enter a text: ")

# Analyze sentiment and output message
sentiment = analyze_sentiment(text_input)
print(f"The sentiment of the text is: {sentiment}")

Enter a text: I am happy
The sentiment of the text is: positive

In [13]:
# Take user input
text_input = input("Enter a text: ")

# Analyze sentiment and output message
sentiment = analyze_sentiment(text_input)
print(f"The sentiment of the text is: {sentiment}")

Enter a text: I am sad
The sentiment of the text is: negative

In [14]:
# Take user input
text_input = input("Enter a text: ")

# Analyze sentiment and output message
sentiment = analyze_sentiment(text_input)
print(f"The sentiment of the text is: {sentiment}")

Enter a text: I am doing alright
The sentiment of the text is: neutral